.dropdown-select {
  margin-right: 5px;
  width: 23%;
  background: none;
  color: white;
  cursor: pointer;
}
.dropdown-option {
  color: #000;
  cursor: pointer;
}
/* Card */
.card {
  width: 270px;
  height: 361px;
  flex-shrink: 0;
  background: #fff;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.1);
  margin: 15px;
  margin-bottom: 0;
}

.inner-card {
  width: 270px;
  height: 236px;
  flex-shrink: 0;
  background: #f6f7fb;
  position: relative;
}

.card-img {
  width: 178px;
  height: 178px;
  flex-shrink: 0;
  margin: 46px 52px 12px 40px;
  position: absolute;
}

.card-item-details {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.item-name {
  color: var(--pink, #fb2e86);
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 15px;
}

.item-code {
  color: var(--text, #151875);
  font-family: Josefin Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 12px;
}

.item-price {
  color: var(--text, #151875);
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 12px;
}
/* CategoryContainer */
.category-container {
  display: flex;
  flex-direction: column;
  margin-right: 40px;
}

.footer-rows-heading {
  color: #000;
  font-family: Josefin Sans;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 42px;
}
.footer-rows-item {
  color: var(--sub-text-color, #8a8fb9);
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 21px;
}

.footer-rows-items {
  display: flex;
  flex-direction: column;
  margin-top: 8px;
}
