.footer {
  width: 100%;
  height: 479px;
  flex-shrink: 0;
  background: var(--bg-shade, #eeeffb);
}

.footer-sections {
  display: flex;
  justify-content: space-between;
}

.footer-inner-sec {
  display: flex;
  flex-direction: column;
  margin-left: 310px;
  margin-top: 95px;
}

.footer-title {
  color: #000;
  font-family: Josefin Sans;
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.footer-input {
  width: 242px;
  height: 44px;
  flex-shrink: 0;
  border-radius: 3px;
  opacity: 0.44999998807907104;
  background: var(--white, #fff);
  padding: 14px;
}

.footer-btn {
  width: 135px;
  height: 44px;
  flex-shrink: 0;
  border-radius: 3px;
  background: var(--accent, #fb2e86);
  color: #fff;
}

.sign-up-btn {
  display: flex;
  margin-top: 31px;
}

.footer-content {
  color: var(--sub-text-color, #8a8fb9);
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 25px;
}

.footer-content-add {
  color: var(--sub-text-color, #8a8fb9);
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 10px;
}

.footer-right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 447px;
  margin-top: 94px;
}
